body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background-color: #000000;          
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info-panel {
    position: absolute;
    top: 5mm;
    right: 5mm;
    color: tan;
    text-align: right;
}

@media all and (min-width : 640px) {
.author-text {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: medium;
}
.logo-text {
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
}
}

@media all and (max-width : 640px) {
.author-text {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: x-small;
}
.logo-text {
    font-family: 'Poppins', sans-serif;
    font-size: large;
}
}